#!/bin/bash
#Petit script pour configurer les secrets utilisés pour Home Assistant
#zf210108.1159

#ATTENTION: c'est les secrets pour le Home Asistant de www.zuzu-test.ml !

#utils: générateur de password, https://www.pwdgen.org/


# UTILISATION:

## Sur le serveur SSH:
### Il faut ajouter la ligne suivante dans /etc/ssh/sshd_config: AcceptEnv LANG LC_* GIT* EDITOR dbflux_*

## Sur sa machine:
### Il faut faire: source /Keybase/team/epfl_wwp_blue/influxdb_secrets.sh
### Puis se connecter avec: ssh -A -o SendEnv="GIT*, dbflux*" czufferey@noc-tst.idev-fsd.ml


export ha_vscode_password=yourpassword


echo -e "

Les secrets sont:
"

for i in $(env |grep ha_)
do
    echo " export "$i
done

echo -e "\n"


