#!/bin/bash
#Petit script pour configurer les secrets utilisés pour le docker-vpn
#zf210111.1004

#ATTENTION: c'est les secrets pour le VPN de la maison !

#utils: générateur de password, https://www.pwdgen.org/


# UTILISATION:

## Sur le serveur SSH:
### Il faut ajouter la ligne suivante dans /etc/ssh/sshd_config: AcceptEnv LANG LC_* GIT* EDITOR dbflux_*

## Sur sa machine:
### Il faut faire: source /Keybase/team/epfl_wwp_blue/influxdb_secrets.sh
### Puis se connecter avec: ssh -A -o SendEnv="GIT*, dbflux*" czufferey@noc-tst.idev-fsd.ml


export VPN_SERVER_IPV4='1.2.3.4'
export VPN_USERNAME='myuser@myhost.com'
export VPN_PASSWORD='mypass'



echo -e "

Les secrets sont:
"

for i in $(env |grep VPN_)
do
    echo " export "$i
done

echo -e "\n"


